html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
}

.heading {
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .heading.heading {
        font-size: 25px;
    }
    .container {
        float: left;
    }
  }

  .tour:hover {
      padding-bottom: 25px;
  }